.modal {
  background-color: $color-navy-blue;
  width: 40rem;
  height: 25rem;
  border-radius: $default-border-radius;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation: animate 0.3s;
  animation: animate 0.3s;
}

@-webkit-keyframes animate {
  from {
    -webkit-transform: scale(0.5);
    transform: translate(-50%, -50%) scale(0.5);
  }
  to {
    -webkit-transform: scale(1);
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes animate {
  from {
    -webkit-transform: scale(0.5);
    transform: translate(-50%, -50%) scale(0.5);
  }
  to {
    -webkit-transform: scale(1);
    transform: translate(-50%, -50%) scale(1);
  }
}

.modal > ion-icon {
  position: fixed;
  top: 0;
  right: 0;
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
}

.modal > ion-icon:hover {
  color: red;
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.message-text {
  font-size: 2.6rem;
  font-weight: 500;
  text-align: center;
  color: #fff;
}
