.QA-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.QA {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.question-text {
  color: $color-navy-blue;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
}

.answer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.answer {
  border: 1px solid $color-navy-blue;
  border-radius: 8px;
  background-color: #fff;
  padding: 5px;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}

.selected {
  background-color: yellow;
}

.reveal {
  background-color: lightgreen;
}

.incorrect {
  background-color: $color-incorrect-red;
}
