.QA-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.QA {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.question-text {
  color: $color-navy-blue;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
}

.answer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.answer {
  border: 1px solid $color-navy-blue;
  border-radius: 8px;
  background-color: #fff;
  padding: 5px;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
}

.selected {
  background-color: yellow;
}

.reveal {
  background-color: lightgreen;
}

.incorrect {
  background-color: red;
}
